*{
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    width: 540px;
    height: 63px;
    margin-top: 40px;
    color: #75B79E;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.02em;
}
.mesa{
    display: flex;
    gap: 34px;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 47px;
    width: 60%;
}

.card{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: relative;


    perspective: 1000px;
    transition: all 0.5s;
    transform-style: preserve-3d;

    
}

.card.vira{
    transform: rotateY(180deg);
}


.front .back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back{
    transform: rotateY(180deg);
}
.front img{
    height: 100px;
    width: 100px;
}
