*{
    box-sizing: border-box;
}
body{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.titulo{
    margin-top: 40px;
    color: #75B79E;
    font-size: 56px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: -0.004em; 
    text-align: center;
}
.mesa{
    display: grid;
    grid-gap: 34px;
    margin-top: 47px;
}

.card{
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    position: relative;
    perspective: 1000px;
    transition: all 0.5s;
    transform-style: preserve-3d;
}

.card.selected{
    transform: rotateY(180deg);
}


.front-face, .back-face{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.back-face{
    transform: rotateY(180deg);
}
img{
    margin-left: 10px;
    margin-top: 24px;
    height: 100px;
    width: 100px;
}

.disabled{
    pointer-events: none;
}
.point{
    transform: rotateY(180deg);
    pointer-events: none;
}
.tempo{
    position: absolute;
    top: 30px;
    right: 30px;
}


@media (max-width: 1024px){
    .mesa{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (max-width: 614px){
    .mesa{
        display: flex;
        flex-direction: column;
    }
}
